.devise-form
	%h2 Sign in
	=simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
		.form-inputs
			=f.input :username, :required => false, :type => "text", :autofocus => true
			=f.input :password, :required => false, :type => "text"
			=f.input :remember_me, :input_html => {:class => "remember_me"}, :as => :boolean if devise_mapping.rememberable?
	
		.form-actions
			.buttons
				=f.submit "Sign In", :class => "btn-large btn-success"
				=render "devise/shared/links"
