<h1>Listing items</h1>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th class="small"></th>
	</tr>

	<tbody id="items">
		<% @items.each do |item| %>
			<%= render partial:"item_list_row", locals:{item:item} %>
		<% end %>
	</tbody>
</table>

<br />
<%= render "form" %>
