<%= form_for(@shopping_list) do |f| %>
		<div class="input date optional">
			<label class="date optional" for="focus">Date</label>
			<input class="date optional" type="date" name="shopping_list[date]" value="<%= Date.today.strftime %>">
		</div>
    <%= f.submit class:"btn"%>
<% end %>
