<table>
	<thead>
		<th><%= link_to "Name", sort: "name" %></th>
		<th><%= link_to "Type", sort: "type" %></th>
		<th class="small"></th>
	</thead>
	<tbody id="items">
		<% @items.each do |item| %>
			<%= render partial:"item_tablerow", locals:{item:item} %>
		<% end %>
	</tbody>
</table>
<%= will_paginate @items %>
