$text-color:#777777;
$success-color:#62c462;
$danger-color:#ee5f5b;
$button-color: #fff;
body {
	color:$text-color;
	a{color:$text-color;}
}

//################
//#  Navigation  #
//################
.navigation_bar{
	ul{
		background-image: -webkit-linear-gradient(top, $button-color, darken($button-color, 5%));
		border-radius:6px;
		width: auto;
		height: 1em;
		padding: 1em;
	}
	li{
		&:hover a{color:darken($text-color, 30%);}
		border-radius:6px;
		padding:0.5em;
		cursor:pointer;
		display:inline;
		a{
			text-decoration:none;
		}
	}
	margin-bottom: 2em;
}


//################
//#    Tables    #
//################

table{
	tbody tr:nth-child(odd){
		background-color:#f9f9f9;
	}
	border-spacing: 0px;
	width:100%;
	td, th{
		vertical-align:middle;
		text-align:left;
		border-top: 1px solid #ddd;
	}
	td.small {
		width:10%;
		min-width:4em;
	}
}


//################
//#    Forms     #
//################
form input.btn{
	margin-left:5.5em;
}
form div.input{
	label{
		width:4em;
		float:left;
		text-align:right;
		margin-right:0.5em;
	}
	input{
		width:15em;
		color:red;
		border:solid 1px black;
		border-radius: 6px;
		&:focus{
			border:solid 1px #EEA34A; 
			outline:0;
			outline-offset:0;
		}
	}
}

//################
//#   Buttons    #
//################

.btn{
	background-image: -webkit-linear-gradient(top, $button-color, darken($button-color, 15%));
	&:hover{background-image: -webkit-linear-gradient(top, darken($button-color, 15%), $button-color);}
	border: 1px solid #ddd;
	border-radius:3px;
	display: inline-block;
}

.btn-mini {
	border-radius: 3px;
}
.btn-large {
	border-radius: 6px;
}
.btn-success {
	background-image: -webkit-linear-gradient(top, $success-color, darken($success-color, 15%));
	&:hover{background-image: -webkit-linear-gradient(top, darken($success-color, 15%), $success-color);}
	border: 1px solid $success-color;
}
.btn-danger {
	background-image: -webkit-linear-gradient(top, $danger-color, darken($danger-color, 20%));
	&:hover{background-image: -webkit-linear-gradient(top, darken($danger-color, 20%), $danger-color);}
	border: 1px solid darken($danger-color, 20%);
}

//################
//#     Icons    #
//################

.icon{
	background-position: center center;
	display: inline-block;
}
.icon-ok{
}

.icon-remove{
}

.icon-edit{
}

//################
//#   Helpers    #
//################
