$text-color:#777777;
$grayed: #f9f9f9;
$focus: #EEA34A;
$success:#62c462;
$alert:#ee5f5b;
$button-color: #fff;
body {
	color:$text-color;
	a{color:$text-color;}
}

//################
//#  Navigation  #
//################
.navigation_bar{
	ul{
		background-image: -webkit-linear-gradient(top, $button-color, darken($button-color, 5%));
		border-radius:6px;
		width: auto;
		height: 1em;
		padding: 1em;
	}
	li{
		&:hover a{color:darken($text-color, 30%);}
		border-radius:6px;
		padding:0.5em;
		cursor:pointer;
		display:inline;
		a{
			text-decoration:none;
		}
	}
	margin-bottom: 2em;
}


//################
//#    Tables    #
//################

table{
	tbody tr:nth-child(odd){
		background-color:$grayed;
	}
	border-spacing: 0px;
	width:100%;
	td, th{
		a{
			text-decoration:none;
			padding-left:16px;
			&.current{
				background-repeat: no-repeat;
				background-position:left center;
				&.asc{
					background-image:url(/assets/arrowup.png)
				}
				&.desc{
					background-image:url(/assets/arrowdown.png)
				}
			}
		}
		vertical-align:middle;
		text-align:left;
		border-top: 1px solid darken($grayed, 10%);
	}
	td.small {
		width:10%;
		min-width:5em;
	}
	margin-bottom:5em;
}


//################
//#    Forms     #
//################
form input.btn{
	margin-left:5.5em;
}
form input.btn.inline{
	margin-left:0;
	width:100%;
}
form div.input{
	label{
		width:10em;
		float:left;
		text-align:right;
		margin-right:0.5em;
	}
	input{
		width:15em;
		border:solid 1px black;
		border-radius: 6px;
		&:focus{
			border:solid 1px $focus; 
			outline:0;
			outline-offset:0;
		}
	}
	.small{
		width:100%;
	}
}

//################
//#   Buttons    #
//################

.btn{
	background-image: -webkit-linear-gradient(top, $button-color, darken($button-color, 15%));
	&:hover{background-image: -webkit-linear-gradient(top, darken($button-color, 15%), $button-color);}
	border: 1px solid #ddd;
	border-radius:3px;
	display: inline-block;
	padding:0.5em 1em;
}

.btn-mini {
	border-radius: 3px;
	padding: 2px 4px;
}
.btn-large {
	border-radius: 6px;
	padding: 6px 10px 6px 10px;
}
.btn-success {
	background-image: -webkit-linear-gradient(top, $success, darken($success, 15%));
	&:hover{background-image: -webkit-linear-gradient(top, darken($success, 15%), $success);}
	border: 1px solid $success;
}
.btn-danger {
	background-image: -webkit-linear-gradient(top, $alert, darken($alert, 20%));
	&:hover{background-image: -webkit-linear-gradient(top, darken($alert, 20%), $alert);}
	border: 1px solid darken($alert, 20%);
}

//################
//#     Icons    #
//################

.icon{
	background-position: center center;
	display: inline-block;
	width:16px;
	height:16px;
}
.icon-ok{
	background-image: url("/assets/checkmark16.png");
}
.icon-remove{
	background-image: url("/assets/remove.png");
}
.icon-edit{
	background-image: url("/assets/edit.png");
}
.icon-trash{
	background-image: url("/assets/trash.png");
}
.icon-lock{
	background-image: url("/assets/lock.png");
}
.icon-unlock{
	background-image: url("/assets/unlock.png");
}

//################
//#   Layouts    #
//################
div.columns{
	width:100%;
	overflow:hidden;
	div.column-left{
		border:1px solig black;
		width:49%;
		float:left;
	}
	div.column-right{
		width:49%;
		float:right;
	}
}

.droppable{
	background:0;
}
.droppable-active{
	background-color:$grayed;
}
.droppable-hover{
	background-color:lighten($grayed, 10%);
}
.draggable{
	cursor:pointer;
}

//################
//#   Helpers    #
//################
.pull-right{
	float:right;
}
.inactive{
	background-color:darken($grayed, 15%);
}
