@import "screens";
@media #{$landscape}{
	body {
		width: 100%;
	}
	table td, table th{
		padding: 4px;
	}

	.btn{
		padding:0.5em 1em;
		border-radius:6px;
	}
	.btn-mini {
		padding: 2px 4px;
	}
	.btn-large{
		padding: 6px 10px 6px 10px;
	}
	.icon{
		margin-top: 2px;
		width: 16px;
		height: 16px;
	}
}
