$portrait: "only screen and (max-device-width: 40em) and (orientation: portrait)";
$landscape: "only screen and (max-device-width: 70em) and (orientation: landscape)";
$desktop: "only screen and (min-width: 1200px)";
